In [1]:
# Importando bibliotecas necessárias

import os
import pandas as pd

In [2]:
# Diertório com os dados completos de empréstimo

dir_data = 'C:/Users/vinic/OneDrive/Documentos/GitHub/7_Days_of_Code_Alura/Python Pandas/Data/'

In [3]:
# Lendo o arquivo com os dados de empréstimo

emprestimos_completo = pd.read_csv(os.path.join(dir_data, 'emprestimos_completo.csv'))
emprestimos_completo = emprestimos_completo.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_cdu
0,709684,L095049,NaN,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaN,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,717763,L167050,NaN,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020-03-17 19:49:10.187,2020-12-03 08:12:20,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,Ciências aplicadas
2072518,2989020,2014062640,NaN,2020-03-17 19:51:15.700,2021-01-07 11:16:28,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,Religião
2072519,2989032,2018003324,NaN,2020-03-17 20:00:11.416,2021-08-30 13:29:44,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes
2072520,2989049,2006024313,NaN,2020-03-17 20:47:18.741,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,Ciências aplicadas
2072521,2989061,2018031352,NaN,2020-03-17 21:22:22.138,2021-07-26 15:05:20,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,Ciências sociais

In [4]:
# Seleção dos empréstimo dos alunos de pós-graduação

pos_grad = emprestimos_completo.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO"').reset_index(drop=True)
pos_grad

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_cdu
0,726965,L095049,2010/03/31 12:41:08.684000000,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,785791,L167050,NaN,2010-06-01 18:41:54.885,2010-07-01 21:19:58.000,2.009102e+09,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
2,880244,L167050,NaN,2010-11-26 19:33:16.188,2010-12-14 18:52:15.000,2.014125e+09,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,1041880,L167050,2011/08/21 11:47:13.866000000,2011-08-08 12:40:38.355,2011-09-05 11:06:34.000,2.015102e+09,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,1082240,L167050,2011/10/20 08:58:05.351000000,2011-09-20 11:44:21.892,2011-11-22 16:36:13.000,2.010121e+09,ALUNO DE PÓS-GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
302536,2988811,2015033958,2020/04/26 11:43:40.087000000,2020-03-17 16:20:01.906,2021-06-09 12:33:33,2.016103e+10,ALUNO DE PÓS-GRADUAÇÃO,1211606,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,541,Matemática e ciências naturais
302537,2988812,2016019436,2020/04/26 11:43:40.062000000,2020-03-17 16:20:01.992,2021-06-09 12:33:39,2.016103e+10,ALUNO DE PÓS-GRADUAÇÃO,1235460,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,511,Matemática e ciências naturais
302538,2988851,2014061383,NaN,2020-03-17 16:46:55.065,2021-10-18 11:33:35,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,1164548,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,657,Ciências aplicadas
302539,2988891,2017008971,2020/04/19 16:42:15.125000000,2020-03-17 17:13:00.546,NaN,2.018102e+10,ALUNO DE PÓS-GRADUAÇÃO,1314272,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,747,Belas artes
302540,2989032,2018003324,NaN,2020-03-17 20:00:11.416,2021-08-30 13:29:44,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes

In [5]:
# Lendo os arquivos com os dados de matricula dos alunos depois de 2010

matricula_pos_2010 = pd.read_excel(os.path.join(dir_data, 'matricula_alunos.xlsx'),
                          sheet_name='Após 2010',
                          header=1)

matricula_pos_2010['Matricula '] = matricula_pos_2010['Matricula '].astype(str)
matricula_pos_2010.rename(columns={'Matricula ': 'matricula_ou_siape',
                                  'Tipo de vinculo': 'tipo_vinculo_usuario',
                                  'Cursos': 'curso'}, inplace=True)

matricula_pos_2010

     matricula_ou_siape tipo_vinculo_usuario                     curso
0          2010000017.0   ALUNO DE GRADUAÇÃO                   DIREITO
1          2010000035.0   ALUNO DE GRADUAÇÃO                 AGRONOMIA
2          2010001290.0   ALUNO DE GRADUAÇÃO        ENGENHARIA QUÍMICA
3          2010002849.0   ALUNO DE GRADUAÇÃO      ENGENHARIA AMBIENTAL
4          2010003381.0   ALUNO DE GRADUAÇÃO                 GEOGRAFIA
...                 ...                  ...                       ...
2269      20150116770.0   ALUNO DE GRADUAÇÃO                    LETRAS
2270       2015074523.0   ALUNO DE GRADUAÇÃO                     DANÇA
2271      20160002745.0   ALUNO DE GRADUAÇÃO  ENGENHARIA DA COMPUTAÇÃO
2272      20170086533.0   ALUNO DE GRADUAÇÃO           BIBLIOTECONOMIA
2273      20180090351.0   ALUNO DE GRADUAÇÃO                     DANÇA

[2274 rows x 3 columns]

In [6]:
# Lendo os arquivos com os dados de cadastro dos alunos
cadastro_json = pd.read_json(os.path.join(dir_data, 'cadastro_alunos.json'))
cadastro = pd.read_json(cadastro_json.registros[1])
cadastro['matricula_ou_siape'] = cadastro['matricula_ou_siape'].astype(float).astype(str)
cadastro

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS ODONTOLÓGICAS
1,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,ENGENHARIA DE SOFTWARE
2,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
3,2011113122.0,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
4,2010110903.0,ALUNO DE PÓS-GRADUAÇÃO,ARTES CÊNICAS
...,...,...,...
19435,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
19436,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
19437,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
19438,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
19439,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [7]:
# Concatenação das planilhas do excel com o JSON

cadastro_geral = pd.concat([matricula_pos_2010, cadastro])
cadastro_geral

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2010000017.0,ALUNO DE GRADUAÇÃO,DIREITO
1,2010000035.0,ALUNO DE GRADUAÇÃO,AGRONOMIA
2,2010001290.0,ALUNO DE GRADUAÇÃO,ENGENHARIA QUÍMICA
3,2010002849.0,ALUNO DE GRADUAÇÃO,ENGENHARIA AMBIENTAL
4,2010003381.0,ALUNO DE GRADUAÇÃO,GEOGRAFIA
...,...,...,...
19435,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
19436,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
19437,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
19438,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
19439,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [8]:
# Extraindo informaçõe dos empréstimos a partir de 2017 até 2019

pos_grad['data_emprestimo'] = pd.to_datetime(pos_grad['data_emprestimo']).dt.year
emprestimos_17_a_19 = pos_grad[pos_grad['data_emprestimo'].between(2017, 2019)]


emprestimos_17_a_19 = emprestimos_17_a_19[['matricula_ou_siape', 'data_emprestimo']].reset_index(drop=True)

emprestimos_17_a_19['matricula_ou_siape'] = emprestimos_17_a_19['matricula_ou_siape'].astype(str)
emprestimos_17_a_19

      matricula_ou_siape  data_emprestimo
0          20171029059.0             2017
1          20181014102.0             2018
2          20161026732.0             2018
3          20181019459.0             2018
4          20171004425.0             2018
...                  ...              ...
88285      20171001906.0             2019
88286      20181000976.0             2019
88287      20191008539.0             2019
88288      20191003612.0             2019
88289      20171025200.0             2019

[88290 rows x 2 columns]

In [9]:
# Ajuste do tipo da coluna

cadastro['matricula_ou_siape'] = cadastro['matricula_ou_siape'].astype(str)

In [10]:
# Mesclagem dos dados

merged = emprestimos_17_a_19.merge(cadastro)
merged

,matricula_ou_siape,data_emprestimo,tipo_vinculo_usuario,curso
0,20171029059.0,2017,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
1,20171029059.0,2017,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
2,20171029059.0,2017,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
3,20171029059.0,2018,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
4,20171029059.0,2018,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
...,...,...,...,...
88224,20191026804.0,2019,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIA E ENGENHARIA DE MATERIAIS
88225,20184001860.0,2019,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
88226,20194000060.0,2019,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
88227,20181022300.0,2019,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
88228,20191024069.0,2019,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIA E ENGENHARIA DE MATERIAIS

In [11]:
# Geração da tabela com as informações necessárias

data = (merged
       .groupby(['data_emprestimo', 'curso'], as_index=False)
       .agg({'matricula_ou_siape': 'count'})
       ).sort_values(by=['curso', 'data_emprestimo'])

data.rename(columns={'data_emprestimo': 'ano',
                    'matricula_ou_siape': 'quantidade'}, inplace=True)

data = data.reset_index(drop=True)
data['ano'] = data['ano'].astype(int)
data

     ano                                   curso  quantidade
0   2017                           ADMINISTRAÇÃO        2538
1   2018                           ADMINISTRAÇÃO        2316
2   2019                           ADMINISTRAÇÃO        1692
3   2017                 ARQUITETURA E URBANISMO        2209
4   2018                 ARQUITETURA E URBANISMO        1917
5   2019                 ARQUITETURA E URBANISMO        1818
6   2017                           ARTES CÊNICAS        2115
7   2018                           ARTES CÊNICAS        2082
8   2019                           ARTES CÊNICAS        1812
9   2017                          BIOINFORMÁTICA        2190
10  2018                          BIOINFORMÁTICA        1914
11  2019                          BIOINFORMÁTICA        1825
12  2017                              BIOQUÍMICA        2294
13  2018                              BIOQUÍMICA        1944
14  2019                              BIOQUÍMICA        2057
15  2017       CIÊNCIA E ENGENHARIA DE MATERIAIS        2316
16  2018       CIÊNCIA E ENGENHARIA DE MATERIAIS        2110
17  2019       CIÊNCIA E ENGENHARIA DE MATERIAIS        2008
18  2017          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2415
19  2018          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2365
20  2019          CIÊNCIA, TECNOLOGIA E INOVAÇÃO        2026
21  2017                       CIÊNCIAS DA SAÚDE        2434
22  2018                       CIÊNCIAS DA SAÚDE        1986
23  2019                       CIÊNCIAS DA SAÚDE        1825
24  2017                  CIÊNCIAS ODONTOLÓGICAS        2414
25  2018                  CIÊNCIAS ODONTOLÓGICAS        2540
26  2019                  CIÊNCIAS ODONTOLÓGICAS        2134
27  2017                                  DESIGN        2272
28  2018                                  DESIGN        1838
29  2019                                  DESIGN        1841
30  2017                        ENGENHARIA CIVIL        2399
31  2018                        ENGENHARIA CIVIL        2089
32  2019                        ENGENHARIA CIVIL        1989
33  2017                  ENGENHARIA DE SOFTWARE        2477
34  2018                  ENGENHARIA DE SOFTWARE        2222
35  2019                  ENGENHARIA DE SOFTWARE        1887
36  2017                               FILOSOFIA        2170
37  2018                               FILOSOFIA        2048
38  2019                               FILOSOFIA        1773
39  2017  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        2266
40  2018  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1891
41  2019  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO        1771

In [12]:
# Geração de tabela com as caracteristicas necessarias

emprestimos_pivot = data.pivot_table(index='curso',
                                    columns='ano',
                                    values='quantidade',
                                     aggfunc='sum',
                                    )

emprestimos_pivot

ano                                     2017  2018  2019
curso
ADMINISTRAÇÃO                           2538  2316  1692
ARQUITETURA E URBANISMO                 2209  1917  1818
ARTES CÊNICAS                           2115  2082  1812
BIOINFORMÁTICA                          2190  1914  1825
BIOQUÍMICA                              2294  1944  2057
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316  2110  2008
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415  2365  2026
CIÊNCIAS DA SAÚDE                       2434  1986  1825
CIÊNCIAS ODONTOLÓGICAS                  2414  2540  2134
DESIGN                                  2272  1838  1841
ENGENHARIA CIVIL                        2399  2089  1989
ENGENHARIA DE SOFTWARE                  2477  2222  1887
FILOSOFIA                               2170  2048  1773
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266  1891  1771

In [13]:
# Leitura do arquivo referent ao ano de 2022

dados_2022 = pd.read_table(os.path.join(dir_data, 'previsao.txt'), sep=' ')
dados_2022

                                     curso  previsao_2022
0                            administracao           1905
1                  arquitetura_e_urbanismo           1896
2                            artes_cenicas           1920
3                           bioinformatica           2302
4                               bioquimica           2090
5        ciencia_e_engenharia_de_materiais           2010
6            ciencia_tecnologia_e_inovacao           1960
7                        ciencias_da_saude           1730
8                   ciencias_odontologicas           2405
9                                   design           1900
10                        engenharia_civil           1920
11                     engenharia_software           1890
12                               filosofia           1903
13  gestao_da_informacao_e_do_conhecimento           1855

In [14]:
# Formatação das colunas e das informações

dados_2022.rename(columns={'previsao_2022': 'quantidade'}, inplace=True)
dados_2022['ano'] = [2022]*dados_2022.shape[0]

dados_2022 = dados_2022[['ano', 'curso', 'quantidade']]
dados_2022 = dados_2022.set_index('curso')
dados_2022.index = emprestimos_pivot.index
# dados_2022['ano'] = dados_2022['ano'].astype(int)
dados_2022

                                         ano  quantidade
curso
ADMINISTRAÇÃO                           2022        1905
ARQUITETURA E URBANISMO                 2022        1896
ARTES CÊNICAS                           2022        1920
BIOINFORMÁTICA                          2022        2302
BIOQUÍMICA                              2022        2090
CIÊNCIA E ENGENHARIA DE MATERIAIS       2022        2010
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2022        1960
CIÊNCIAS DA SAÚDE                       2022        1730
CIÊNCIAS ODONTOLÓGICAS                  2022        2405
DESIGN                                  2022        1900
ENGENHARIA CIVIL                        2022        1920
ENGENHARIA DE SOFTWARE                  2022        1890
FILOSOFIA                               2022        1903
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2022        1855

In [15]:
# Geração de tabela com as caracteristicas necessarias

emprestimos_pivot['2022'] = dados_2022.iloc[:, [1]]
emprestimos_pivot

ano                                     2017  2018  2019  2022
curso
ADMINISTRAÇÃO                           2538  2316  1692  1905
ARQUITETURA E URBANISMO                 2209  1917  1818  1896
ARTES CÊNICAS                           2115  2082  1812  1920
BIOINFORMÁTICA                          2190  1914  1825  2302
BIOQUÍMICA                              2294  1944  2057  2090
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316  2110  2008  2010
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415  2365  2026  1960
CIÊNCIAS DA SAÚDE                       2434  1986  1825  1730
CIÊNCIAS ODONTOLÓGICAS                  2414  2540  2134  2405
DESIGN                                  2272  1838  1841  1900
ENGENHARIA CIVIL                        2399  2089  1989  1920
ENGENHARIA DE SOFTWARE                  2477  2222  1887  1890
FILOSOFIA                               2170  2048  1773  1903
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266  1891  1771  1855

In [16]:
# Garantir que as colunas sejam tratadas como strings
emprestimos_pivot.columns = emprestimos_pivot.columns.astype(str)

# Calcula a diferença percentual entre os anos especificados
emprestimos_pivot['diff_2017_2018'] = ((emprestimos_pivot['2018'] - emprestimos_pivot['2017']) / emprestimos_pivot['2017']) * 100
emprestimos_pivot['diff_2018_2019'] = ((emprestimos_pivot['2019'] - emprestimos_pivot['2018']) / emprestimos_pivot['2018']) * 100
emprestimos_pivot['diff_2019_2022'] = ((emprestimos_pivot['2022'] - emprestimos_pivot['2019']) / emprestimos_pivot['2019']) * 100

# Mantém apenas as colunas de interesse
diferencas_percentuais = emprestimos_pivot[['diff_2017_2018', 'diff_2018_2019', 'diff_2019_2022']]

diferencas_percentuais = diferencas_percentuais.reset_index()
diferencas_percentuais

ano,curso,diff_2017_2018,diff_2018_2019,diff_2019_2022
0,ADMINISTRAÇÃO,-8.747045,-26.943005,12.588652
1,ARQUITETURA E URBANISMO,-13.218651,-5.164319,4.290429
2,ARTES CÊNICAS,-1.560284,-12.968300,5.960265
3,BIOINFORMÁTICA,-12.602740,-4.649948,26.136986
4,BIOQUÍMICA,-15.257193,5.812757,1.604278
5,CIÊNCIA E ENGENHARIA DE MATERIAIS,-8.894646,-4.834123,0.099602
6,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO",-2.070393,-14.334038,-3.257651
7,CIÊNCIAS DA SAÚDE,-18.405916,-8.106747,-5.205479
8,CIÊNCIAS ODONTOLÓGICAS,5.219553,-15.984252,12.699157
9,DESIGN,-19.102113,0.163221,3.204780
10,ENGENHARIA CIVIL,-12.922051,-4.786979,-3.469080
11,ENGENHARIA DE SOFTWARE,-10.294711,-15.076508,0.158983
12,FILOSOFIA,-5.622120,-13.427734,7.332205
13,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO,-16.548985,-6.345849,4.743083

In [17]:
# Formatando as colunas e os dados

diferencas_percentuais.columns = ['Curso', '2018', '2019', '2022']
diferencas_percentuais.Curso = diferencas_percentuais.Curso.str.capitalize()
diferencas_percentuais

                                     Curso       2018       2019       2022
0                            Administração  -8.747045 -26.943005  12.588652
1                  Arquitetura e urbanismo -13.218651  -5.164319   4.290429
2                            Artes cênicas  -1.560284 -12.968300   5.960265
3                           Bioinformática -12.602740  -4.649948  26.136986
4                               Bioquímica -15.257193   5.812757   1.604278
5        Ciência e engenharia de materiais  -8.894646  -4.834123   0.099602
6           Ciência, tecnologia e inovação  -2.070393 -14.334038  -3.257651
7                        Ciências da saúde -18.405916  -8.106747  -5.205479
8                   Ciências odontológicas   5.219553 -15.984252  12.699157
9                                   Design -19.102113   0.163221   3.204780
10                        Engenharia civil -12.922051  -4.786979  -3.469080
11                  Engenharia de software -10.294711 -15.076508   0.158983
12                               Filosofia  -5.622120 -13.427734   7.332205
13  Gestão da informação e do conhecimento -16.548985  -6.345849   4.743083

# Gerando tabela em HTML

In [18]:
# Definindo os parâmetros da estilização CSS
styles = [
    dict(selector='th', props = [
        ('font-size', '1.4rem'),
        ('text-align', 'center'),
        ('font-weight', 'bold'),
        ('color', 'whitesmoke'),
        ('background-color', '#001692'),
        ('border-radius', '0.25rem'),
        ('box-shadow', '0.01rem gray')
    ]
        ),

    dict(selector='td', props = [
        ('font-size', '1rem'),
        ('padding', '0.5rem'),
        ('text-align', 'left'),
        ('font-weight', 'bold'),
        ('border-bottom', '0.1rem solid lightgray')
    ]
        )
]

In [19]:
diferencas_percentuais.style.text_gradient(cmap='RdYlGn',low=1, axis=1,vmax=0.1,vmin=0)\
                              .format('{:.2f} %',subset=['2018','2019','2022'])\
                              .hide_index()\
                              .set_table_styles(styles)\
                              .to_html('percentuais.html',doctype_html =True,
                                       table_attributes='ALIGN=LEFT WIDTH=50% CELLSPACING = 5')

C:\Users\vinic\AppData\Local\Temp\ipykernel_15844\3407541597.py:3: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  .hide_index()\